*.o

data/**

matlabAnswers/**
matlab/visualizePetsc/@PetscOpenSocket/.*
matlab/visualizePetsc/@PetscOpenFile/.*
matlab/visualizePetsc/.*
matlab/visualizePetsc/._*

.goutputstream*

.fuse_hidden*

.vscode
.gitignore
test_Maxime/*
